// ============================================
// フッター
// ============================================
@use '../base/variables' as *;

.footer {
  background-color: $color-main;
  color: $color-white;
  padding: 32px 0;

  &__copy {
    text-align: center;
    font-size: $font-size-sm;
    color: rgba($color-white, 0.6);
  }
}
