// ============================================
// ボタン
// ============================================
@use '../base/variables' as *;
@use '../base/mixin' as *;

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 4px;
  font-size: $font-size-base;
  font-weight: 700;
  text-align: center;
  transition: all $transition-base;
  cursor: pointer;

  // メインカラー
  &--primary {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      opacity: 0.8;
    }
  }

  // アウトライン
  &--outline {
    background-color: transparent;
    border: 2px solid $color-accent;
    color: $color-accent;

    &:hover {
      background-color: $color-accent;
      color: $color-white;
    }
  }
}
